@import "../../../scss/breakpoints";

.to-schedule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  color: var(--primary-blue);
  background-color: transparent;
  border-radius: 24px;
  transition: background-color 0.3s;

  svg {
    fill: currentColor;
  }

  &:hover {
    background-color: rgba(16, 113, 255, 0.04);
  }

  &:focus {
    background-color: rgba(16, 113, 255, 0.12);
  }

  &:active {
    background-color: rgba(16, 113, 255, 0.16);
  }

  &__text {
    margin-left: 11px;
    font-weight: 600;
    font-size: 12px;
    color: var(--primary-blue);

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    padding: 5px;
  }
}
