<app-header>
  <app-burger></app-burger>
  <app-to-schedule>
    <app-modal id="modal" class="hidden">
      <app-tabs>
        <app-tab tabTitle="Основное">
          <app-program></app-program>
          <app-event></app-event>
          <app-conditions></app-conditions>
        </app-tab>
        <app-tab tabTitle="Участники">
          <app-participants-container>
            <app-available-members class="w50"></app-available-members>
            <app-event-participants class="w50"></app-event-participants>
          </app-participants-container>
        </app-tab>
      </app-tabs>
    </app-modal>
  </app-to-schedule>
</app-header>
<main class="main">
  <div class="container">
    <app-breadcrumbs></app-breadcrumbs>
    <h1 class="title">Планирование</h1>
    <app-tabs>
      <app-tab tabTitle="Групповое">
        <app-group-planning>
          <app-form></app-form>
          <app-sessions-list></app-sessions-list>
        </app-group-planning>
      </app-tab>
      <app-tab tabTitle="Индивидуальное">
        Individually
      </app-tab>
    </app-tabs>
  </div>
</main>

