:root {
  --primary-white: #fff;
  --primary-black: rgba(0, 0, 0, 0.87);;
  --primary-blue: #1071ff;
  --primary-blue-focus: rgba(16, 113, 255, 0.12);
  --light-theme-secondary: rgba(0, 0, 0, 0.54);
  --primary-lines-gray: rgba(0, 0, 0, 0.08);
  --dark-gray: rgba(0, 0, 0, 0.87);
  --light-theme: rgba(0, 0, 0, 0.38);
  --light-theme-disabled: rgba(0, 0, 0, 0.22);
}
